spring:
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    password: sys
    url: jdbc:oracle:thin:@localhost:1521/XE
    username: System
  jpa:
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    hibernate:
      ddl-auto: update
  mvc:
    view:
      prefix: /views/
      suffix: .jsp
  mail:
    host: smtp.gmail.com
    password: sathya@530
    username: sathishssathya789@gmail.com
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          connectiontimeout: 5000
          starttls:
            enable: true
          timeout: 5000
          writetimeout: 5000
server:
  port: 7777
  servlet:
    context-path: /HealthInsurance

  